@import "tailwindcss";

@theme {
  /* Definimos tus colores corporativos aquí */
  --color-lazaro-50: #f4f6f8;
  --color-lazaro-100: #e4e8ee;
  --color-lazaro-gold: #C5A059;       /* Tu dorado */
  --color-lazaro-goldHover: #b08d45;
  --color-lazaro-blue: #1e293b;       /* Tu azul oscuro */
  --color-lazaro-accent: #0F172A;

  /* Vinculamos las fuentes */
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

/* Estilos base */
body {
  background-color: var(--color-lazaro-50);
  color: var(--color-lazaro-blue);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}